﻿/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 300px;
}
*/

/* Tooltip */
.tooltip {
    white-space: normal;
    text-transform: none;
    padding: 0 15px;
}

[data-tooltip] {
  display: inline;
  position: relative;
  z-index: 2;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip below the element */
[data-tooltip]:before {
  position: absolute;
  bottom: -90%;
  left: -250%;
  margin-left: -80px;
  padding: 7px;
  width: 220px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.8);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  line-height: 1;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: -20%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid #000;
  border-bottom: 5px solid hsla(0, 0%, 20%, 0.8);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Navbar */
.navbar {
    display: block;
    width: 100%;
    /* height: 6.5rem; */
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar > .container {
    text-align: center;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-link.active {
    color: #33C3F0;
}

.has-docked-nav .navbar {
    top: 0;
    left: 0;
}

.has-docked-nav {
    display: block;
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
    width: 80%;
}

nav ul li {
    display: inline;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.messages {
    display: none;
    text-align: center;
}

.message-box {
  width: 100%;
  border-radius: 6px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  opacity: 1;
  transition: opacity 0.6s;
}

@media (min-width: 750px) {
    [class^="message-box"] {
        width: 75%;
    }
}

@media (min-width: 1000px) {
    [class^="message-box"] {
        width: 50%;
    }
}

.message-box i {
  vertical-align: middle;
  padding: 10px;
}

.message-box i.exit-button {
  float: right;
  opacity: .4;
}
.message-box i.exit-button:hover {
  opacity: .8;
  transition: opacity 0.6s;
}

.message-text {
    text-transform: capitalize;
    vertical-align: middle;
}

.message-box-info {
  background-color: #CDE8F6;
  border: #2697d1 2px solid;
  color: #447EAF;
}

.message-box-warn {
  background-color: #F8F4D5;
  border: #e9dd7e 2px solid;
  color: #96722E;
}

.message-box-error {
  background-color: #ECC8C5;
  border: #d37f78 2px solid;
  color: #B83C37;
}

.message-box-success {
  background-color: #DDF3D5;
  border: #9ddc86 2px solid;
  color: #597151;
}

/* Spinner css from http://codepen.io/martinvd/pen/wBQveM */
.loader {
  position: absolute;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}

.inner {
  position: absolute;
  border-radius: 50%;
  border: 8px solid transparent;
  box-sizing: border-box;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner.one {
  border-left: 8px solid #07588A;
  border-right: 8px solid #07588A;
  animation: rotate-left 2s linear infinite;
}

.inner.two {
  border-top: 8px solid #6AC1B8;
  border-bottom: 8px solid #6AC1B8;
  animation: rotate-left 3s linear infinite;
}

@keyframes rotate-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}