{% extends "layout.html" %}

{% block content %}
<h2>{{ title }}</h2>
<h5>Required chrome extension: 
    <a target="_blank" href="https://chrome.google.com/webstore/detail/messages-saver-for-facebo/kflkdhmijdgjnlbdkfgdmolcjnflmlhf?hl=en">Facebook Message Downloader</a>
</h5>
<p>Follow the instructions below to use this app:</p>
<ol>
    <li>Install the above chrome extension</li>
    <li>
        Change extension options to download in rich html<br />
        <img src="static/img/step_2.jpg" />
    </li>
    <li>
        Head over to your facebook messages<br />
        <img src="static/img/step_3.jpg" />
    </li>
    <li>
        Select message you want to save<br />
        <img src="static/img/step_4.jpg" />
    </li>
    <li>
        Use the extension to download the messages<br />
        <img src="static/img/step_5.jpg" /><br />
        Click the <strong>save</strong> button
    </li>
    <li>
        Use the resulting .htm file and wait for the results!
    </li>
</ol>
<button class="button-primary" type="button" onclick="javascript:location.href = '{{ url_for('home') }}';">Go Analyze</button>
{% endblock %}
