{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="column" style="margin-top: 5%">
        <h4 style="text-align: center">Facebook Chat Analyzer</h4>
        <div id="messages" class="messages"></div>
        <form style="text-align: center" id="upload-file" enctype=multipart/form-data method="POST">
            <input type="file" name="file" accept=".htm">
            <button id="upload-file-btn" type="button">Analyze</button>
            <button class="tooltip" data-tooltip="Read the help page for instructions" type="button" onclick="javascript:location.href = '{{ url_for('help') }}';"><i class="fa fa-question" aria-hidden="true"></i></button>
        </form>
        <div id="tip" style="text-align: center;">
            <i class="fa fa-line-chart" aria-hidden="true"></i> Analysis time depends on the amount of messages
        </div>
        <div style="display: none;" id="spinner" class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
        </div>
    </div>
</div>
<div id="pie" class="row"></div>
<div id="line" class="row"></div>
{% endblock %}

{% block scripts %}
<script>
    var home = "{{ url_for('home') }}";
</script>
<script src="static/js/app.js"></script>
{% endblock %}
