﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - Facebook Chat Analyzer</title>
    <meta name="description" content="Analyzes and displays charts from your facebook chats">
    <meta name="author" content="Alvin Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/site.css">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
</head>
<body>
    <div id="main" class="container">
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{{ url_for('help') }}">Help</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </nav>     
        {% block content %}{% endblock %}
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/4410a5c602.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>